body {
  margin: 0;
  font-family: Arial;
  background: #f1f5f9;
  color: #0f172a;
}

h1 {
  text-align: center;
  color: #2563eb;
}

#loginBtn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
}

.layout {
  display: flex;
  height: 85vh;
  gap: 10px;
  padding: 10px;
}

/* 左 */
.sidebar {
  width: 20%;
  background: white;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
}

/* 中央 */
.viewer {
  width: 50%;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

/* 右 */
.editor {
  width: 30%;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

input, textarea, select {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.toc-item {
  padding: 8px;
  border-bottom: 1px solid #e2e8f0;
  cursor: pointer;
}

.toc-item:hover {
  background: #e0f2fe;
}